<div class="banner-container">
  <div class="logo-container">
    <img ng-src="{{ $ctrl.logoImage }}" class="logo-img"></img>
  </div>
  <div class="sponsor">
    <a ng-href="{{ $ctrl.sponsorLink }}" target="_new">
      <img class="ting-button"
           ng-src="{{ $ctrl.sponsorImage }}">
      </img>
    </a>
  </div>
  <div class="social-links">
    <a href="https://www.twitch.tv/axeltoss"
       target="_new"
       class="fa fa-twitch">
    </a>
    <a href="https://www.youtube.com/user/Axeltoss"
       target="_new"
       class="fa fa-youtube">
    </a>
    <a href="https://twitter.com/axeltoss"
       target="_new"
       class="fa fa-twitter">
    </a>
  </div>
</div>
