<div class="logo-container">
  <img ng-src="{{ $ctrl.logoImage }}" class="logo-img"></img>
</div>
<div class="sponsor">
  <a ng-href="{{ $ctrl.sponsorLink }}" target="_new">
    <img ng-src="{{ $ctrl.sponsorImage }}"></img>
  </a>
</div>
