<div class="video-container" ng-if="$ctrl.showVideo">
  <iframe class="video"
          src="https://www.youtube.com/embed/FNdpbyonxs0?rel=0"
          frameborder="0" gesture="media" allow="encrypted-media"
          allowfullscreen>
  </iframe>
</div>
<div class="countdown-text-container">
  <div>
    <p class="start-date">Stream begins in...</p>
    <div>{{ $ctrl.countdownText }}</div>
    <p class="start-date">January 23rd, 11AM PST<p>
    <a class="btn btn-orange"
       target="_new"
       href="https://beta.faceit.com/en/rl_XBOX_PC/tournament/25b8b26b-f24c-4475-b92e-e66b55bfc634">
      Qualifier #3 Registration
    </a>
  </div>
</div>
