<div class="video-container" ng-if="$ctrl.showVideo">
  <iframe class="video"
          src="https://www.youtube.com/embed/FNdpbyonxs0?rel=0"
          frameborder="0" gesture="media" allow="encrypted-media"
          allowfullscreen>
  </iframe>
</div>
<div class="countdown-text-container">
  <div>
    <p class="start-date">Stream begins in...</p>
    <div>{{ $ctrl.countdownText }}</div>
    <p class="start-date">January 30th, 12PM PST<p>
    <a class="btn btn-orange"
       target="_new"
       href="https://beta.faceit.com/en/rl_XBOX_PC/tournament/f4cbcf33-e8d0-4689-9a69-1d34f5ac7a3a">
      Qualifier #4 (EU) Registration
    </a>
  </div>
</div>
