<div class="video-container">
  <iframe class="video"
          src="https://www.youtube.com/embed/FNdpbyonxs0?rel=0"
          frameborder="0" gesture="media" allow="encrypted-media"
          allowfullscreen>
  </iframe>
</div>
<div class="countdown-text-container">
  <div>
    {{ $ctrl.countdownText }}
    <p class="start-date">{{ $ctrl.startTimeString }}<p>
    <a class="btn btn-orange"
       target="_new"
       href="https://beta.faceit.com/en/rl_XBOX_PC/tournament/86110d46-86b6-4e25-91d7-28508b3f4cd8">
      Team Sign Up
    </a>
  </div>
</div>
