.banner-col {
  text-align: right;

  @media(max-width: 1023px) {
    display: none !important;
  }
}

.stream-col {
  @media(max-width: 1023px) {
    width: 100% !important;
  }
}

.vertical-banner {
  max-width: 100%;
}

.content {
  max-width: 1440px;
  margin: auto;
  margin-bottom: 30px;
}

.separator {
  width: 100%;
  height: 40px;
}

.about-ting {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 234px;

  .ting-button-wrapper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin-left: -20px;

    .ting-button {
      width: 400px;
      max-width: 100%;
    }
  }
}
