.info-card-wrapper {
  max-width: 1440px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.info-card {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 20px;
  min-height: 520px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.5);
  border: 1px solid $silver;
  background-color: $white;
}
