site-header {
  display: block;
  background-color: $bar-color;
  border-bottom: 3px solid $subtle-grey;
  height: 120px;
  margin-bottom: 100px;
  text-align: left;

  @media(max-width: 680px) {
    text-align: center;
    margin-bottom: 300px;
    padding-left: 0;
  }

  .logo-container {
    display: inline-block;
    vertical-align: top;
    border: 3px solid white;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: $bar-color;

    .logo-img {
      width: 200px;
      height: 200px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  .social-links {
    position: absolute;
    top: 120px;
    right: 320px;

    @media(max-width: 800px) {
      display: none;
    }
  }

  .sponsor {
    float: right;
    margin-top: 10px;
    margin-right: 10px;

    @media(max-width: 680px) {
      position: absolute;
      top: 200px;
      width: 100%;
      text-align: center;
    }

    a {
      img {
        width: 400px;
      }
    }
  }

  .banner-container {
    width: 100%;
    height: 117px;
    background-size: contain;
    background-repeat: repeat-x;
    padding-left: 50px;
    background-image: url(asset_path("header-banner.jpg"));

    @media(max-width: 680px) {
      padding-left: 0;
      background-size: cover;
    }
  }

  .ting-button {
    border-radius: 16px;
    border: 1px solid white;
    width: 300px !important;
  }

  .fa {
    padding: 12px;
    font-size: 28px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;
    width: 50px;
    height: 50px;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  .fa-youtube {
    background: #DD272D;
    color: white;
  }

  .fa-twitch {
    background: #6441A4;
    color: white;
  }

  .fa-twitch {
    background: #6441A4;
    color: white;
  }

  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .discord-link {
    display: inline-block;
    vertical-align: top;
    padding: 12px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin: 10px;
  }
  .discord-link:hover {
    opacity: 0.7;
  }

  .discord-icon {
    margin: -8px;
    width: 40px;
    height: 40px;
  }
}
