site-header {
  display: block;
  background-color: $bar-color;
  border-bottom: 3px solid $subtle-grey;
  height: 120px;
  margin-bottom: 100px;
  text-align: left;

  @media(max-width: 680px) {
    height: 200px;
    text-align: center;
    padding-left: 0;
  }

  .logo-container {
    display: inline-block;
    vertical-align: top;
    border: 3px solid white;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: $bar-color;

    @media(max-width: 680px) {
      margin-top: 50px;
    }

    .logo-img {
      width: 200px;
      height: 200px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  .sponsor {
    float: right;
    margin-top: 10px;
    margin-right: 10px;

    @media(max-width: 680px) {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
    }

    a {
      img {
        width: 400px;
      }
    }
  }

  .banner-container {
    width: 100%;
    height: 118px;
    background-size: contain;
    background-repeat: repeat-x;
    padding-left: 50px;
    background-image: url(asset_path("header-banner.jpg"));

    @media(max-width: 680px) {
      height: 198px;
      background-size: cover;
    }
  }
}
