$blue: #00aaee;
$green: #34d26b;
$soft-blue: #d1f0fc;
$dark-grey: #444444;
$grey: #989898;
$light-grey: #e8e8e8;
$subtle-grey: #f4f4f4;
$silver: #c1c1c1;
$red: #e41b1b;
$error-bg: #ffd0d0;
$warning-yellow: #fff0cc;
$white: #ffffff;
$orange: #f50;

.btn-orange,
.btn-orange.dropdown-toggle,
.open > .btn-orange.dropdown-toggle {
  color: $white;
  background-color: $orange;
  border-color: darken($orange, 5%);

  &:hover, &:focus, &:active, &.active {
    color: $white;
    background-color: darken($orange, 10%);
    border-color: darken($orange, 15%);
  }
}
