// Basic Colors
$blue: #00aaee;
$green: #34d26b;
$soft-blue: #d1f0fc;
$dark-grey: #444444;
$grey: #989898;
$light-grey: #e8e8e8;
$subtle-grey: #f4f4f4;
$silver: #c1c1c1;
$red: #e41b1b;
$error-bg: #ffd0d0;
$warning-yellow: #fff0cc;
$white: #ffffff;
$orange: #f50;

// Theme
$layout-background: #EAEAEA;
$container-background: #EAEAEA;
$off-color-section-bg: $layout-background;
$off-color-section-font: white;
$primary-font-color: #4A4A4A;
$background-color: #8a0b0b;
$bar-font: #fff;
