@import url(//fonts.googleapis.com/css?family=Indie+Flower:300,400,500,600,700);
@import url(//fonts.googleapis.com/css?family=Crete+Round:300,400,500,600,700);
@import url(//fonts.googleapis.com/css?family=Cinzel:300,400,500,600,700);

$title-font: 'Cinzel', 'Helvetica', serif;
$script-font: 'Indie Flower', cursive, serif;
$primary-font: 'Crete', 'Times New Roman', serif;
