body {
  background-color: $layout-background;
  font-family: $primary-font;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: $primary-font;
  color: $primary-font-color;
}

.off-color-section {
  background-color: $off-color-section-bg;
  color: $off-color-section-font;
}

.page-header {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

countdown {
  display: block;
  max-width: 100%;
  margin: auto;
  color: $countdown-text;
  background-color: $countdown-background;
  text-align: center;

  .countdown-text-container {
    padding: 30px;
    font-size: 36px;

    .start-date {
      font-size: 22px;
    }
  }
}

.rocket-league-banner {
  display: block;
  background-image: url(asset_path("footer-banner.jpg"));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid $dark-grey;
}

.content-row {
  width: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}
