<site-header logo-image="$ctrl.logoImage"></site-header>

<div class="content">
  <div class="content-row text-right">
    <div class="col-md-12">
      <div ng-class="{
            'toggle-wrapper': !$ctrl.showChat
            }">
        <a class="chat-toggle" ng-click="$ctrl.toggleChat()">
          Toggle Chat
        </a>
      </div>
    </div>
  </div>
  <div clss="row content-row">
    <div class="stream-col"
         ng-class="{
           'col-md-8': $ctrl.showChat,
           'col-md-12': !$ctrl.showChat
         }">
      <twitch-stream channel-name="$ctrl.twitchChannel" ng-if="$ctrl.live">
      </twitch-stream>
      <countdown ng-if="$ctrl.live === false"
                 start-time-string="$ctrl.startTimeString"
                 end-time="$ctrl.liveDate"
                 on-end="$ctrl.timesUp()">
      </countdown>
    </div>
    <div ng-show="$ctrl.showChat"
         class="col-md-4 banner-col">
      <twitch-chat channel-name="$ctrl.twitchChannel">
      </twitch-chat>
    </div>
  </div>

  <div class="row content-row">
    <div class="col-sm-6">
      <div class="info-card">
        <twitter-feed hashtag="$ctrl.twitterHashtag"
                      widget-id="$ctrl.twitterWidgetId">
        </twitter-feed>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="info-card text-center">
        <h1>About Ting Mobile</h1>
        <div class="text-left about-ting">
          <p>
            Ting is the smarter choice for cell phone service.
          </p>
          <p>
            Ting does rates, not plans. How you use your phone determines what you pay. Use less? Pay less. Every month is different.
          </p>
          <p>
            Ting has two nationwide LTE network offerings, GSM (T-Mobile) and CDMA (Sprint), so you can choose the network that works best in your area.
          </p>
          <p>
            The more often you're around Wi-Fi, the cheaper your phone bill will be.
          </p>
          <div class="ting-button-wrapper">
            <a ng-href="https://ting.com/blog/why-ting-mobile-service-is-a-great-choice-for-gamers/?lpn=rocketleaguegamers" target="_new">
              <img class="ting-button"
                   ng-src="{{ $ctrl.sponsorImage }}">
               </img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
