<site-header logo-image="$ctrl.logoImage"></site-header>

<div class="content">
  <div clss="row content-row">
    <div class="col-md-8 stream-col">
      <twitch-stream channel-name="'nathanias'" ng-if="$ctrl.live"></twitch-stream>
      <countdown ng-if="$ctrl.live == false"
                 end-time="$ctrl.liveDate"
                 on-end="$ctrl.timesUp()">
      </countdown>
    </div>
    <div class="col-md-4 banner-col">
      <img class="vertical-banner" ng-src="{{ $ctrl.verticalBanner }}"></img>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="info-card">
        <twitter-feed hashtag="$ctrl.twitterHashtag"
                      widget-id="$ctrl.twitterWidgetId">
        </twitter-feed>
      </div>
    </div>
    <div class="col-md-6">
      <div class="info-card text-center">
        <h1>Donate</h1>
      </div>
    </div>
  </div>

</div>
