<site-header logo-image="$ctrl.logoImage"></site-header>

<div class="content">
  <div class="content-row text-right">
    <div class="col-md-12">
      <div ng-class="{
            'toggle-wrapper': !$ctrl.showChat
            }">
        <a class="chat-toggle" ng-click="$ctrl.toggleChat()">
          Toggle Chat
        </a>
      </div>
    </div>
  </div>
  <div clss="row content-row">
    <div class="stream-col"
         ng-class="{
           'col-md-8': $ctrl.showChat,
           'col-md-12': !$ctrl.showChat
         }">
      <twitch-stream channel-name="$ctrl.twitchChannel" ng-if="$ctrl.showStream">
      </twitch-stream>
      <countdown ng-if="$ctrl.live === false"
                 on-stream-show="$ctrl.enableShowStream()"
                 start-time-string="$ctrl.startTimeString"
                 end-time="$ctrl.liveDate"
                 stream-time="$ctrl.streamDate"
                 on-end="$ctrl.timesUp()">
      </countdown>
    </div>
    <div ng-show="$ctrl.showChat"
         class="col-md-4 banner-col">
      <twitch-chat channel-name="$ctrl.twitchChannel">
      </twitch-chat>
    </div>
  </div>

  <div class="row content-row">
    <div class="col-sm-6">
      <div class="info-card">
        <twitter-feed hashtag="$ctrl.twitterHashtag"
                      widget-id="$ctrl.twitterWidgetId">
        </twitter-feed>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="info-card text-center">
        <h1>About Ting Mobile</h1>
        <div class="text-left about-ting">
          <p>
            Ting is the smarter choice for cell phone service.
          </p>
          <p>
            Ting does rates, not plans. How you use your phone determines what you pay. Use less? Pay less. Every month is different.
          </p>
          <p>
            Ting has two nationwide LTE network offerings, GSM (T-Mobile) and CDMA (Sprint), so you can choose the network that works best in your area.
          </p>
          <p>
            The more often you're around Wi-Fi, the cheaper your phone bill will be.
          </p>
          <div class="text-center">
            <a ng-href="https://ting.com/blog/why-ting-mobile-service-is-a-great-choice-for-gamers/?lpn=rocketleaguegamers"
               target="_new">
              <img class="ting-button"
                   ng-src="{{ $ctrl.sponsorImage }}">
               </img>
            </a>
          </div>
        </div>
        <div class="embedded-tweet">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Ting and <a href="https://twitter.com/Axeltoss?ref_src=twsrc%5Etfw">@Axeltoss</a> present the $3500 <a href="https://twitter.com/hashtag/TingOpen?src=hash&amp;ref_src=twsrc%5Etfw">#TingOpen</a>, a Rocket League tournament with weekly qualifiers leading into a Grand Finals weekend! To celebrate our launch into the Rocket League esports community we&#39;re giving away an unlocked Galaxy S8. Full details at <a href="https://t.co/v5pXsRewJS">https://t.co/v5pXsRewJS</a> <a href="https://t.co/UbIwHZwyIC">pic.twitter.com/UbIwHZwyIC</a></p>&mdash; Ting (@tingFTW) <a href="https://twitter.com/tingFTW/status/949358224368599042?ref_src=twsrc%5Etfw">January 5, 2018</a></blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="footer">
  <a href="https://docs.google.com/document/d/1H4ar8rJNKQVQT4YSgr8yoBI63fS9ax3Uo9MhteAFkI8/edit"
     target="_new">
    Press Release
  </a>
  <span> - </span>
  <a href="mailto:axel.toss@hotmail.com">Contact</a>
</div>
