// Backgrounds
$layout-background: $soft-blue;
$container-background: #ffffff;

$off-color-section-bg: $layout-background;
$off-color-section-font: white;

$bar-color: $blue;
$bar-font: #fff;

//Countdown
$countdown-text: white;
$countdown-background: black;

// Font
$primary-font: 'Russo One', 'Roboto', Arial, sans-serif;
$primary-font-color: #444;
